<div class="container" style="margin-top: 20px;">
<div class="row" >
<div class="card col-md-3 " style="width: 19.6rem;margin-right:15px ;margin-bottom: 20px;" *ngFor="let i of data">
    <img class="card-img-top" src="https://image.shutterstock.com/image-vector/hand-holding-megaphone-text-job-260nw-1651914418.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{i.Compname}}</h5>
      <h5 class="card-title">Position:{{i.Comptitle}}</h5>
      <p class="card-text">{{i.Compdesc}}</p>
      <a routerLink="/apply" class="btn btn-primary" (click)="apply(i.Cid)" [queryParams]="{name:i.Compname,pos:i.Comptitle,desc:i.Compdesc}">Apply</a>
    </div>
</div>
</div>
  </div>
