<div class="abc">Contact Us </div>
<div class="all">
<div class="left">

    <div class="add">
       <b> BiggWigg INTERNATIONAL HQ</b>
        <br>
        <br>
        Building No. : 21<br>
        RMZ EcoWorld<br>
        Bellandur<br>
        Bengaluru-560103<br>
        Karnataka<br>
        IN<br>
        <br>
        <br>
        customerservice@BiggWigg.in

    </div>
    <div class="num">
       <b> GET IN TOUCH</b>
        <br>
        <br>
        (+91) 88950 09126<br>
        (+91) 70017 39196<br>
        (+91) 95213 99278<br>
    </div>
    <div>
        <form class="details"  #s="ngForm" (ngSubmit)="mydatafunc(s.value)">

            <label >Enter Full Name</label>
            <input type="text"  required name="name" ngModel class="form-control" placeholder="Enter your Name">  <br>
            
            <label>Enter Email</label>
            <input type="email"  class="form-control" ngModel name="email" required placeholder="Enter your Email Address"> <br>
            
            <label>Enter Message</label>
            <textarea type="text" class="form-control" ngModel height="200" name="msg" rows="4" cols="3" placeholder="Please write your message here"></textarea> <br>
            <input type="submit" value="Subimit Data" class="btn btn-info">
            <br>
            <br>
            
           
            
            </form>
    </div>
</div>
    <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.742675859888!2d77.68142648962592!3d12.924253390374242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13a709ea72d7%3A0x26968b9330cae41!2sRMZ%20Ecoworld%20Rd%2C%20Bengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1661666693289!5m2!1sen!2sin" width="400" height="800" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>





