<div class="banner " style="padding-top:90vh ;">

    <span style="position: absolute;top: 300px;left: 80px;"> Kickstart your carrer with us!!</span>
 
    <div class="img" style="position: absolute;top: 160px;">
 
 <img src="../assets/j.png" alt="" height="400px" style="margin-left: 700px;">
 
 </div>
 
 </div>
 
 
 
 
 <div class="home_section2">
 
     <div class="partner">
 
         <img src="../assets/home3.png" alt=""  width="100%">
 
     </div>
 
     <div class="rating">
 
         <br>
 
         <br>
 
         <br>
 
         <img src="../assets/home1.png" alt="" width="100%">
 
     </div>
 
 </div>
 
 